{% extends 'finanzas/base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/categorias.css' %}">
{% endblock %}

{% block content %}

<h2>🏷 Categorías</h2>
<p class="subtitle">Administra tus categorías de ingresos y gastos</p>

<a href="{% url 'agregar_categoria' %}" class="btn-verde">
    <i class="fa-solid fa-plus"></i>
    Nueva Categoría
</a>

<div class="categorias-grid">

    {% for cat in categorias %}
        <div class="categoria-card">
            <span>{{ cat.nombre }}</span>

            <a href="{% url 'eliminar_categoria' cat.id %}" class="delete-link">
                <i class="fa-solid fa-trash"></i>
            </a>
        </div>
    {% empty %}
        <p>No tienes categorías aún.</p>
    {% endfor %}

</div>

{% endblock %}