{% extends 'finanzas/base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

{% block content %}

<h1>Dashboard</h1>
<p class="subtitle">Bienvenido {{ request.user.username }}</p>

<div class="balance-card">
    <h3>Balance Total</h3>
    <h1>$ {{ balance }}</h1>
</div>

<div class="stats">
    <div class="stat-card">
        <h4>Ingresos del Mes</h4>
        <p class="ingresos">$ {{ ingresos }}</p>
    </div>

    <div class="stat-card">
        <h4>Gastos del Mes</h4>
        <p class="gastos">$ {{ gastos }}</p>
    </div>
</div>

<div class="movimientos">
    <h3>Movimientos Recientes</h3>

    {% for mov in movimientos %}
    <div class="movimiento">
        <div>
            <strong>{{ mov.descripcion }}</strong><br>
            <small>{{ mov.fecha }}</small>
        </div>

        <div class="lado-derecho">
            {% if mov.tipo == "ingreso" %}
                <span class="monto-verde">+ ${{ mov.monto }}</span>
            {% else %}
                <span class="monto-rojo">- ${{ mov.monto }}</span>
            {% endif %}

            <form method="post" action="{% url 'eliminar' mov.id %}">
                {% csrf_token %}
                <button class="delete-btn">🗑</button>
            </form>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}