{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Registro - Bohike</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

<div class="container">
    <h2>💵 Crear Cuenta</h2>

    <form method="post">
        {% csrf_token %}
        <input type="text" name="username" placeholder="Usuario" required>
        <input type="password" name="password" placeholder="Contraseña" required>
        <button type="submit">Registrarse</button>
    </form>

    <a href="/login/">Ir al login</a>
</div>

</body>
</html>